name: 'PR Deployments'

on:
  push:
    branches-ignore:
      - master

defaults:
  run:
    shell: bash

jobs:
  deploy:
    name: 'Deploy'
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      # Sets the branch name as environment variable
      - uses: nelonoel/branch-name@v1.0.1
      - uses: actions/setup-node@v1
        with:
          node-version: 14.x
      - run: npm ci
      - name: Deploy
        run: netlify deploy --build --alias=${{ env.BRANCH_NAME }}
        env:
          NETLIFY_SITE_ID: ${{ secrets.NETLIFY_SITE_ID }}
          NETLIFY_AUTH_TOKEN: ${{ secrets.NETLIFY_AUTH_TOKEN }}
      - run: ls -ltr
